{% extends "quotes/base.html" %}

{% block content %}

<form action="{% url 'quotes:quote' %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label" for="author">Author</label>
        <select class="form-select" id="author" name="author">
            {% for author in authors %}
            <option value="{{ author.id }}">{{ author.fullname }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label" for="tags">Tags</label>
        <select class="form-select" id="tags" multiple name="tags" size="5">
            {% for tag in tags %}
            <option value="{{ tag.id }}">{{ tag.name }}</option>
            {% endfor %}
        </select>
    </div>
     <div class="mb-3">
        <label class="form-label" for="quote">Quote</label>
        <textarea class="form-control" id="quote" name="quote" placeholder="Enter quote text"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

{% endblock %}